{% extends "base.html" %}
{% block content %}
    <h1>League of Legends API</h1>
    <h2>Search for player</h2>
    <form action="/lol/summoner" method="get">
        <label for="summoner">Summoner:</label>
        <input type="text" id="summoner" name="summoner" required>

        <label for="server">Server:</label>
        <select name="server" id="server">
            <option value="na1">NA</option>
            <option value="euw1">EUW</option>
        </select>

        <button type="submit">Search</button>
    </form>

    <h2>Ladder</h2>
{% endblock %}