{% extends "base.html" %}
{% block content %}
<h2>{{ data.accountData["gameName"] }}#{{ data.accountData["tagLine"] }}</h2>
<h3>Level: {{ data.summonerData["summonerLevel"] }}</h3>
<h2>Champion Mastery</h2>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Champion Name</th>
            <th>Level</th>
            <th>Points</th>
            <th>Last played</th>
            <th>Points until next level</th>
        </tr>
    </thead>
    <tbody>
        {% for champion in data.championData %}
        <tr>
            <td>{{ champion["championName"] }}</td>
            <td>{{ champion["championLevel"] }}</td>
            <td>{{ champion["championPoints"] }}</td>
            <td>{{ champion["lastPlayTimePretty"] }}</td>
            <td>{{ champion["championPointsUntilNextLevel"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js_specific %}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "order": [[2, "desc"]],
            "pageLength": 10,
            'columnDefs': [{
                "targets": 2,
                "render": $.fn.dataTable.render.number(',', '.', 0)
            },
            {
                "targets": 4,
                "render": $.fn.dataTable.render.number(',', '.', 0)
            }]
        });
    });
</script>
{% endblock %}

<!-- <img src="{{ url_for('static', filename='imgs/champions/ahri.png') }}" alt="Ahri"> -->